#bbpress-forums hr {
    margin: 0 0 24px
}

#bbpress-forums {
    background: 0 0;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 12px;
    padding: 0 15px
}

#bbpress-forums div.even,
#bbpress-forums ul.even {
    background-color: #212528;
    border-right: 1px solid #000;
    border-left: 1px solid #000
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
    background-color: #1a1d1f;
    border-right: 1px solid #000;
    border-left: 1px solid #000
}

body.reply-edit .reply {
    float: none
}

#bbpress-forums div.reply {
    height: auto;
    width: 100%
}

#bbpress-forums .status-spam.even,
#bbpress-forums .status-trash.even {
    background-color: #fee
}

#bbpress-forums .status-spam.odd,
#bbpress-forums .status-trash.odd {
    background-color: #fdd
}

#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
    color: #ccc
}

#bbpress-forums ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#bbpress-forums li {
    margin: 0;
    list-style: none
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums ul.bbp-topics {
    font-size: 12px;
    overflow: hidden;
    clear: both
}

#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer,
#bbpress-forums li.bbp-header {
    clear: both
}

#bbpress-forums li.bbp-footer {
    font-weight: 700;
    padding: 8px;
    text-align: center
}

#bbpress-forums li.bbp-header {
    background: nasdone
}

#bbpress-forums fieldset.bbp-form legend,
#bbpress-forums li.bbp-header,
.bbp-topic-title h3 {
    line-height: 20px;
    padding: 15px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    color: #ccc
}

#bbpress-forums fieldset.bbp-form legend {
    margin-bottom: 10px
}

#bbpress-forums li.bbp-header ul {
    overflow: hidden;
    color: #ccc
}

#bbpress-forums .bbp-forums-list {
    margin: 0;
    padding-left: 0
}

#bbpress-forums .bbp-forums-list li {
    font-size: 11px;
    width: 49%;
    margin-right: 1%;
    display: inline-block;
    background: rgba(0, 0, 0, .2);
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #000
}

#bbpress-forums li.bbp-footer p {
    margin: 0;
    line-height: 1em
}

li.bbp-forum-info,
li.bbp-topic-title {
    float: left;
    text-align: left;
    width: 55%
}

li.bbp-forum-info i.fa-comments-o,
li.bbp-topic-title i.fa-comment {
    width: 10%;
    display: inline-block;
    font-size: 24px;
    min-height: 46px;
    padding: 12px 20px 12px 12px;
    float: left
}

.bbp-titlewrapper {
    display: inline-block;
    width: 90%
}

a.bbp-forum-title,
a.bbp-topic-permalink {
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto, Arial
}

.bbp-author-name {
    color: #ccc
}

.footer_widget a.bbp-forum-title,
.widget a.bbp-forum-title {
    font-weight: 400;
    font-size: 12px
}

.widget .bbp-logged-in h4 {
    margin: 0 0 10px
}

.widget .bbp-logged-in a {
    font-weight: 700
}

.widget .bbp-logged-in a.logout-link {
    font-weight: 400;
    display: block;
    margin-bottom: 10px
}

li.bbp-forum-reply-count,
li.bbp-forum-topic-count,
li.bbp-topic-reply-count,
li.bbp-topic-voice-count {
    float: left;
    text-align: center;
    width: 10%
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
    text-align: center;
    float: left;
    width: 22%
}

li.bbp-forum-freshness a,
li.bbp-topic-freshness a {
    font-size: 10px;
    color: #999
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
    border-top: 1px solid #000;
    overflow: hidden;
    padding: 20px 15px 15px;
    border-right: 1px solid #000;
    border-left: 1px solid #000
}

#bbpress-forums li.bbp-body ul.forum:first-child,
#bbpress-forums li.bbp-body ul.topic:first-child {
    border-top: 0 solid #000
}

li.bbp-header div.bbp-reply-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-topic-content span#subscription-toggle {
    float: right
}

#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-reply-title h3,
#bbpress-forums div.bbp-topic-title h3 {
    line-height: 1em;
    margin: 8px 0
}

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-reply-author,
#bbpress-forums div.bbp-topic-author {
    float: left;
    text-align: center;
    width: 115px
}

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar {
    border: none;
    max-width: 80px;
    padding: 0;
    margin: 12px auto 0;
    float: none
}

#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name {
    margin: 0 12px;
    word-break: break-word;
    display: inline-block
}

#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role {
    font-size: 11px;
    font-style: italic
}

#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-topic-author {
    float: left;
    margin: 0;
    padding: 0;
    width: 100px
}

#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-topic-content {
    margin-left: 123px;
    padding: 0;
    text-align: left
}

div.bbp-forum-header,
div.bbp-reply-header,
div.bbp-topic-header,
li.bbp-body div.hentry {
    margin-bottom: 0;
    overflow: hidden;
    padding: 8px
}

.bbp-reply-header:first-child {
    border-top: 0!important
}

div.bbp-forum-header,
div.bbp-reply-header,
div.bbp-topic-header {
    clear: both
}

span.bbp-author-ip {
    font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #aaa
}

#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-reply-content,
#bbpress-forums div.bbp-topic-content {
    margin-left: 130px;
    padding: 12px 12px 12px 0;
    text-align: left
}

#bbpress-forums div.bbp-reply-content a,
#bbpress-forums div.bbp-topic-content a {
    background: 0 0;
    border: none;
    display: inline;
    font-weight: 400;
    margin: 0;
    padding: 0
}

#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-reply-content h6,
#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-topic-content h6 {
    clear: none;
    line-height: 1em;
    margin: 24px 0;
    padding: 0
}

#bbpress-forums div.bbp-reply-content img,
#bbpress-forums div.bbp-topic-content img {
    max-width: 100%
}

#bbpress-forums div.bbp-reply-content ol,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-topic-content ul {
    margin: 0 15px 15px;
    padding: 0
}

#bbpress-forums div.bbp-reply-content ul li,
#bbpress-forums div.bbp-topic-content ul li {
    list-style-type: disc
}

#bbpress-forums div.bbp-reply-content ol li,
#bbpress-forums div.bbp-topic-content ol li {
    list-style-type: decimal
}

#bbpress-forums div.bbp-reply-content ol li li,
#bbpress-forums div.bbp-topic-content ol li li {
    list-style-type: lower-alpha
}

#bbpress-forums div.bbp-reply-content ol li li li,
#bbpress-forums div.bbp-topic-content ol li li li {
    list-style-type: upper-roman
}

#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-reply-content pre,
#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-topic-content pre {
    font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
    display: inline;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 2px
}

#bbpress-forums div.bbp-reply-content pre,
#bbpress-forums div.bbp-topic-content pre {
    display: block;
    line-height: 18px;
    margin: 0 0 24px;
    padding: 5px 10px;
    white-space: pre;
    overflow: auto
}

#bbpress-forums div.bbp-reply-content pre code,
#bbpress-forums div.bbp-topic-content pre code {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow-wrap: normal
}

div.bbp-breadcrumb {
    float: none
}

div.bbp-breadcrumb p {
    margin-bottom: 0
}

div.bbp-breadcrumb,
div.bbp-breadcrumb span,
div.bbp-topic-tags {
    font-size: 12px
}

#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
    margin-bottom: 10px
}

#bbpress-forums div.bbp-topic-tags {
    float: right
}

#bbp-topic-hot-tags {
    clear: both
}

.bbp-meta span {
    font-size: 10px;
    text-transform: uppercase;
    color: #bbb
}

#bbpress-forums #bbp-search-form {
    clear: left;
    margin-bottom: 0;
    margin-top: 20px
}

#bbpress-forums div.bbp-search-form {
    float: right
}

span.bbp-admin-links {
    float: right;
    color: #ddd
}

span.bbp-admin-links a {
    color: #bbb;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none
}

fieldset span.bbp-admin-links {
    float: left
}

tr td span.bbp-admin-links a:hover {
    color: #ff4b33
}

td.bbp-topic-admin-links,
td.bbp-topic-counts {
    width: 50%
}

.bbp-forum-header a.bbp-forum-permalink,
.bbp-reply-header a.bbp-reply-permalink,
.bbp-topic-header a.bbp-topic-permalink {
    float: right;
    margin-left: 10px;
    color: #ccc
}

.bbp-topic-action #favorite-toggle a {
    text-decoration: none;
    padding: 0 3px 1px;
    color: #7c7;
    border: 1px solid #aca;
    background-color: #dfd;
    font-weight: 700;
    font-size: 13px
}

.bbp-topic-action #favorite-toggle a:hover {
    color: #5a5;
    border-color: #7c7;
    background-color: #beb
}

.bbp-topic-action #favorite-toggle span.is-favorite a {
    color: #faa;
    border: 1px solid #faa;
    background-color: #fee
}

.bbp-topic-action #favorite-toggle span.is-favorite a:hover {
    color: #c88;
    border-color: #c88;
    background-color: #fdd
}

.bbp-topic-action #subscription-toggle a {
    text-decoration: none;
    padding: 0 3px 1px;
    color: #7c7;
    border: 1px solid #aca;
    background-color: #dfd;
    font-weight: 700;
    font-size: 13px
}

.bbp-topic-action #subscription-toggle a:hover {
    color: #5a5;
    border-color: #7c7;
    background-color: #beb
}

.bbp-topic-action #subscription-toggle span.is-subscribed a {
    color: #faa;
    border: 1px solid #faa;
    background-color: #fee
}

.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
    color: #c88;
    border-color: #c88;
    background-color: #fdd
}

#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
    margin: 5px 0;
    padding: 0;
    font-size: 11px
}

#bbpress-forums p.bbp-topic-meta span {
    white-space: nowrap;
    font-size: 10px
}

#bbpress-forums p.bbp-topic-meta span a {
    color: #ccc
}

.bbp-pagination-count {
    float: left;
    border: 1px solid transparent;
    font-size: 10px;
    color: #666;
    margin-top: 10px
}

.bbp-pagination-links {
    float: right;
    list-style: none;
    display: inline
}

.bbp-pagination-links a,
.bbp-pagination-links span.current {
    display: block;
    float: left;
    padding: 0 5px;
    margin-left: 5px;
    border: 1px solid #efefef;
    text-decoration: none
}

.bbp-pagination-links a:hover,
.bbp-pagination-links span.current {
    background: #eee;
    opacity: .8;
    border: 1px solid #ddd
}

.bbp-pagination-links span.dots {
    display: block;
    float: left;
    padding: 1px 4px;
    margin-left: 5px
}

.bbp-pagination {
    float: left;
    width: 100%;
    margin-bottom: 30px
}

.widget #bbp_search {
    width: 95%
}

#bbp_search_submit {
    margin-left: 15px
}

.widget #bbp_search_submit {
    margin-left: 0
}

#bbp_search {
    margin-top: 8px
}

.bbp-topic-pagination {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 2px
}

.bbp-topic-pagination a {
    font-size: 10px;
    line-height: 10px;
    padding: 1px 3px;
    border: 1px solid #ddd;
    text-decoration: none
}

#wp-link .submitbox {
    height: auto!important
}

#bbpress-forums fieldset.bbp-form {
    clear: left;
    margin-bottom: 10px
}

#bbpress-forums fieldset.bbp-form label {
    margin: 0;
    display: inline-block
}

#bbpress-forums fieldset.bbp-form label[for=bbp_topic_subscription] {
    font-size: 10px;
    color: #666;
    position: relative;
    top: -3px
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-lost-pass fieldset label,
#bbp-register fieldset label {
    width: 100px
}

#bbpress-forums fieldset.bbp-form input,
#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form textarea {
    margin: 0 0 8px
}

#bbpress-forums fieldset.bbp-form p:last-child {
    margin-bottom: 0
}

textarea#bbp_forum_content,
textarea#bbp_reply_content,
textarea#bbp_topic_content {
    width: 97%;
    box-sizing: border-box
}

textarea#bbp_forum_content {
    height: 210px
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
    width: 200px;
    float: right;
    clear: none;
    margin-left: 25px
}

#bbpress-forums fieldset select#bbp_forum_id {
    max-width: 200px
}

.bbp-reply-form,
.bbp-topic-form,
.bbp-topic-tag-form {
    clear: left
}

body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img,
body.topic-edit .bbp-topic-form div.avatar img {
    margin-right: 0;
    padding: 10px;
    border: 1px solid #ddd;
    line-height: 0;
    background-color: #efefef
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.reply-edit .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.topic-edit .bbp-topic-form code {
    font-size: 10px;
    background-color: #f0fff8;
    border: 1px solid #CEEFE1;
    display: block;
    padding: 8px;
    margin-top: 5px;
    width: 369px
}

#delete_tag,
#merge_tag {
    display: inline
}

div.bbp-submit-wrapper {
    margin-top: -70px;
    float: right;
    clear: both
}

p.form-allowed-tags {
    width: 462px
}

#bbpress-forums div.bbp-the-content-wrapper {
    margin-bottom: 10px;
    margin-top: -10px
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
    width: 100%;
    margin: 0;
    font-size: 12px
}

#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper td,
#bbpress-forums div.bbp-the-content-wrapper tr {
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    line-height: 1em
}

#bbpress-forums div.bbp-the-content-wrapper input {
    font-size: 12px;
    padding: 5px;
    margin: 0 2px 0 0;
    line-height: 1em
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
    padding: 5px!important;
    min-height: 26px
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar input[type=button] {
    padding: 5px 10px!important;
    text-shadow: none;
    margin-left: 5px;
    margin-right: 5px;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
    padding: 4px 4px 8px
}

#bbpress-forums div.wp-editor-container {
    margin-top: 30px;
    border: 0px;
    margin: 0;
    padding: 0;
    line-height: 0
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
    line-height: 16px
}

#bbpress-forums #bbp-your-profile fieldset {
    padding: 20px 20px 0
}

#bbpress-forums #bbp-your-profile fieldset div {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    clear: left
}

#bbpress-forums #bbp-your-profile fieldset select {
    margin-bottom: 0
}

#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset textarea {
    margin-bottom: 0;
    width: 60%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: none;
    padding: 5px 8px;
    border-radius: 0
}

#bbpress-forums #bbp-your-profile fieldset input:focus,
#bbpress-forums #bbp-your-profile fieldset textarea:focus {
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .1);
    outline-color: rgba(240, 255, 240, .1)
}

#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
    width: auto
}

#bbpress-forums #bbp-your-profile fieldset legend {
    display: none
}

#bbpress-forums #bbp-your-profile fieldset label[for] {
    float: left;
    width: 20%;
    padding: 5px 20px 5px 0;
    text-align: right;
    cursor: pointer
}

#bbpress-forums #bbp-your-profile fieldset dl label[for] {
    text-align: left;
    width: 60%
}

#bbpress-forums #bbp-your-profile fieldset span.description {
    margin: 5px 0 0 20%;
    font-size: 12px;
    font-style: italic;
    float: left;
    clear: left;
    width: 60%;
    padding: 5px 8px;
    border: 1px solid #cee1ef;
    background-color: #f0f8ff
}

#bbpress-forums #bbp-your-profile fieldset fieldset {
    margin: 0;
    border: none;
    padding: 0;
    clear: none;
    float: none
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password {
    width: 60%;
    display: inline
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
    width: 100%
}

#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
    margin: 0
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
    margin-left: 0;
    margin-bottom: 20px
}

#bbpress-forums #bbp-your-profile fieldset.submit button {
    float: right
}

div.bbp-template-notice,
div.indicator-hint {
    border-width: 1px;
    border-style: solid;
    padding: 0 .6em;
    margin: 5px 0 15px;
    border-radius: 3px;
    clear: both
}

div.bbp-template-notice a {
    color: #999;
    text-decoration: none
}

div.bbp-template-notice a:hover {
    color: #000
}

div.bbp-template-notice.info {
    border: 1px solid #000;
    background-color: #1A1D1F
}

div.bbp-template-notice.important {
    border: 1px solid #e6db55;
    background-color: #fffbcc
}

div.bbp-template-notice.error,
div.bbp-template-notice.warning {
    margin: 0 0 20px;
    font-size: 12px;
    color: #DF9A9A;
    border-radius: 3px;
    background: rgba(205, 36, 36, .1);
    border: 1px solid #CB4D4D
}

div.bbp-template-notice.error a,
div.bbp-template-notice.warning a {
    color: #c00
}

div.bbp-template-notice p {
    margin: .5em 0 6px!important;
    padding: 2px;
    font-size: 10px;
    line-height: 140%
}

.bbp-forum-content ul.sticky,
.bbp-topics ul.sticky,
.bbp-topics ul.super-sticky,
.bbp-topics-front ul.super-sticky {
    background-color: #15171A!important;
    font-size: 1.1em
}

#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log {
    border-top: 1px dotted #ddd;
    width: 100%;
    margin: 0;
    padding: 8px 0 0;
    font-size: 11px;
    color: #aaa
}

#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li {
    list-style-type: none
}

.bbp-login-form fieldset legend {
    display: none
}

.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input,
.bbp-login-form .bbp-username input {
    padding: 5px
}

.bbp-login-form label {
    width: 140px;
    display: inline-block
}

#sidebar .bbp-login-form label {
    width: 70px
}

.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper,
.bbp-login-form .bbp-username {
    margin-top: 10px
}

.bbp-login-form .bbp-submit-wrapper {
    text-align: right
}

.bbp-login-form .bbp-login-links a {
    float: left;
    clear: left
}

.bbp-logged-in img.avatar {
    float: left;
    margin: 0 15px 0 0
}

.bbp-logged-in h4 {
    font-weight: 700;
    font-size: 1.3em;
    clear: none;
    margin-bottom: 10px
}

#bbpress-forums .widget_display_replies img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar {
    float: none;
    width: 14px;
    border: 1px double #111
}

fieldset div.avatar {
    float: right
}

.activity-list li.bbp_reply_create .activity-content .activity-inner,
.activity-list li.bbp_topic_create .activity-content .activity-inner {
    border-left: 2px solid #000;
    margin-left: 5px;
    padding-left: 10px
}

#bbpress-forums h1 {
    clear: none;
    font-size: 1.8em;
    line-height: 1em;
    padding-bottom: 10px
}

#bbpress-forums #bbp-user-wrapper {
    float: left;
    width: 100%
}

#bbpress-forums .bbp-user-section {
    overflow: auto
}

#bbpress-forums #bbp-user-wrapper h2.entry-title {
    font-size: 1.4em;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 0;
    clear: none
}

#bbpress-forums #bbp-user-wrapper fieldset.bbp-form,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics {
    clear: none
}

#bbpress-forums #bbp-single-user-details {
    margin: 0;
    width: 150px;
    float: left;
    overflow: hidden
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
    margin: 0;
    width: 150px
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
    border: none;
    height: 150px;
    padding: 0;
    margin: 0 0 20px;
    width: 150px
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
    float: none;
    margin-left: 180px
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
    float: none;
    margin: 0
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
    margin: 0
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
    padding: 5px 8px;
    display: block;
    border: 1px solid transparent;
    text-decoration: none
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
    background: #eee;
    opacity: .8
}

#bbpress-forums #bbp-user-body {
    margin-left: 180px
}

body.my-account #bbpress-forums {
    border-top: none;
    padding-top: 0;
    margin-bottom: 0
}

#bbpress-forums dl.bbp-user-capabilities {
    display: inline-block;
    vertical-align: top
}

#bbpress-forums dl.bbp-user-capabilities dt {
    margin: 0 0 10px;
    text-transform: capitalize
}

#bbpress-forums dl.bbp-user-capabilities dd {
    margin: 0;
    padding: 0
}

#bbpress-forums div.row-actions {
    font-size: 11px;
    visibility: hidden
}

#bbpress-forums li:hover>div.row-actions {
    visibility: visible
}

#bbpress-forums fieldset.bbp-form input,
#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form textarea {
    margin: 0 0 8px;
    /margin-left: 20px;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
    border: 0px !important;
}

#bbpress-forums fieldset.bbp-form label {
    margin: 0;
    display: inline-block;
   / margin-left: 20px;
}

#send-invite-form.standard-form > .submit {
    display: none;
}

#bbpress-forums #new-post fieldset.bbp-form p {
    margin: 0 5px 8px 0px;
    margin-left: 0px;
}


/* advance bbforums bar fixes*/

.bbp-bbcodes-toolbar {
    margin-bottom: 20px;
}

.bbp-bbtbar-button {
    display: inline-block;
    margin-right: 5px;
    /* padding: 5px; */
}

.bbp-bbtbar-button a {
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 5px;
}

.bbp-bbtbar-button a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.bbPress-signature button {
    -webkit-box-shadow: 0 0 10px rgba(5, 199, 247, 0.5), inset 0 0 1px 1px #05c7f7;
    -moz-box-shadow: 0 0 10px rgba(5, 199, 247, 0.5), inset 0 0 1px 1px #05c7f7;
    box-shadow: 0 0 10px rgba(5, 199, 247, 0.5), inset 0 0 1px 1px #05c7f7;
    background-image: -webkit-linear-gradient(bottom, #096aa1, #26c3f6);
    background-image: -moz-linear-gradient(bottom, #096aa1, #26c3f6);
    background-image: -o-linear-gradient(bottom, #096aa1, #26c3f6);
    background-image: linear-gradient(to top, #096aa1, #26c3f6);
    color: white;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    margin-top: 5px;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    border: 1px solid #000;
    overflow: hidden;
    padding: 10px;
}
.wpb_widgetised_column dl{
	background-color: #1d1d1d;
    border: 1px solid #000;
    background-image: -webkit-linear-gradient(bottom, #1a1b1f, #2a2a34);
    background-image: -moz-linear-gradient(bottom, #1a1b1f, #2a2a34);
    background-image: -o-linear-gradient(bottom, #1a1b1f, #2a2a34);
    background-image: radial-gradient(ellipse farthest-corner at center 0px,#31a2a6 -150%,#333240 45%,#333240 85%);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, .2);
    padding:20px;
}

.wpb_widgetised_column dt, .wpb_widgetised_column dd{
	width:50%;
	display:inline-block;
}
.wpb_widgetised_column dl dt{
	width:40%;
}
.wpb_widgetised_column dl dd{
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    padding-left: 15px;
    margin-bottom: 10px;
}

@media (max-width:480px) {

	#bbpress-forums li {
	    margin: 0;
	    list-style: none;
	    width: 100%;
	    text-align: left;
	}	
	#bbpress-forums div.bbp-reply-author img {
	    max-width: 100%;
	    height: auto;
	}
#bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-reply-author, #bbpress-forums div.bbp-topic-author {
    float: left;
    text-align: center;
    width: 45px;
}
#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-reply-content, #bbpress-forums div.bbp-topic-content {
    margin-left: 60px;
    padding: 12px 12px 12px 0;
    text-align: left;
}
#subscription-toggle, #favorite-toggle{
	display:none;
}
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar input[type=button]{
	    padding: 15px 10px!important;
}
div.bbp-submit-wrapper {
    margin-top: 0px;
    float: none;
    clear: both;
    margin: 0 auto;
    text-align: center;
}
}