.footer_widget .teamwar-list .icon,
.widget .teamwar-list .icon {
    width: auto;
    height: auto
}

.footer_widget .teamwar-list .home-team,
.widget .teamwar-list .home-team {
    color: #777
}

.footer_widget .teamwar-list .home-team,
.footer_widget .teamwar-list .opponent-team,
.footer_widget .teamwar-list .vs,
.widget .teamwar-list .home-team,
.widget .teamwar-list .opponent-team,
.widget .teamwar-list .vs {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out
}

.wrap:hover .opponent-team {
    color: #ccc
}

.footer_widget .teamwar-list .vs,
.widget .teamwar-list .vs {
    color: #ccc;
    margin: 0 8px
}

.footer_widget .teamwar-list,
.widget .teamwar-list {
    margin: 0
}

.footer_widget.teamwarlist-page .teamwar-list,
.widget.teamwarlist-page .teamwar-list {
    background: 0 0;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none
}

.footer_widget.teamwarlist-page ul.teamwar-list li.teamwar-item,
.widget.teamwarlist-page ul.teamwar-list li.teamwar-item,
.tournaments-list li {
    width: 49.5%;
    display: inline-block;
    border: 1px solid #000;
    margin-right: .5%;
    vertical-align:top;
}

.footer_widget.teamwarlist-page ul.teamwar-list li.teamwar-item:nth-child(even){
    margin-left: 0
}

.widget .teamwar-list .widgettitle {
    margin: 12px 12px 0
}

.footer_widget ul.teamwar-list li.teamwar-item,
.widget ul.teamwar-list li.teamwar-item {
    padding: 0 5px;
    position: relative;
    zoom: 1
}

.no-js .footer_widget .teamwar-list .tabs,
.no-js .widget .teamwar-list .tabs {
    display: none
}

.footer_widget .teamwar-list .tabs,
.widget .teamwar-list .tabs,
.widget-area .widget .tabs {
    margin: 0;
    padding: 0 3px;
    zoom: 1;
    box-shadow: none;
    border: 0
}

.sidebar-content-block ul.container .tabs li {
    padding: 0 2px;
    margin: 3px 3px 3px 0
}

.footer_widget .teamwar-list .tabs li,
.widget .teamwar-list .tabs li {
    display: inline-block;
    border: none;
    padding: 0;
    margin-right: 3px
}

.footer_widget .teamwar-list>li:first-child,
.widget .teamwar-list>li:first-child {
    padding: 10px 10px 0;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px
}

.footer_widget .teamwar-list .tabs li.selected,
.footer_widget .teamwar-list .tabs li:hover,
.widget .teamwar-list .tabs li.selected,
.widget .teamwar-list .tabs li:hover {
    background: 0 0
}

.footer_widget .teamwar-list .tabs li a,
.widget .teamwar-list .tabs li a {
    background: #1a1c20;
    color: #999;
    text-align: center;
    letter-spacing: .5px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 10px;
    border: 1px solid #000;
    height: auto;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    border-bottom: 0
}

.footer_widget .teamwar-list .tabs li.selected a,
.footer_widget .teamwar-list .tabs li:hover a,
.widget .teamwar-list .tabs li.selected a,
.widget .teamwar-list .tabs li:hover a {
    border-bottom: 0!important;
    box-shadow: 0 !important
}

.footer_widget ul.teamwar-list li.teamwar-item .wrap,
.widget ul.teamwar-list li.teamwar-item .wrap {
    margin: 0;
    padding: 10px;
    position: relative
}

.footer_widget.teamwarlist-page ul.teamwar-list li.teamwar-item .wrap,
.widget.teamwarlist-page ul.teamwar-list li.teamwar-item .wrap {
    padding: 20px 15px 15px
}

.footer_widget ul.teamwar-list li.teamwar-item .wrap a,
.widget ul.teamwar-list li.teamwar-item .wrap a {
    display: block;
    position: relative;
}

.footer_widget ul.teamwar-list li.teamwar-item .icon,
.widget ul.teamwar-list li.teamwar-item .icon {
    position: absolute;
    top: 5px
}

.teamwar-list .scores,
.teamwar-list .upcoming,
.footer_widget .teamwar-list .playing,
.footer_widget .teamwar-list .tabs li.selected a,
.footer_widget .teamwar-list .tabs li:hover a,
.widget .teamwar-list .playing,
.widget .teamwar-list .tabs li.selected a,
.widget .teamwar-list .tabs li:hover a,
.wp-teamwars-list .scores.loose,
.wp-teamwars-list .scores.win,
.wp-teamwars-list .upcoming,
.wp-teamwars-page .scores.loose,
.wp-teamwars-page .scores.win {
    text-align: center;
    letter-spacing: .5px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 10px;
    border: 1px solid #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: auto;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    display: block
}

.footer_widget .teamwar-list .playing,
.footer_widget .teamwar-list .scores,
.footer_widget .teamwar-list .upcoming,
.widget .teamwar-list .playing,
.widget .teamwar-list .scores,
.widget .teamwar-list .upcoming {
    position: absolute;
    right: 0px;
   	top: 50%;
    margin-top: -18px;
    float: right;
    color: #fff
}

.footer_widget.teamwarlist-page .teamwar-list .playing,
.footer_widget.teamwarlist-page .teamwar-list .scores,
.footer_widget.teamwarlist-page .teamwar-list .upcoming,
.widget.teamwarlist-page .teamwar-list .playing,
.widget.teamwarlist-page .teamwar-list .scores,
.widget.teamwarlist-page .teamwar-list .upcoming {
    right: 10px;
    top: 45px;
}

.footer_widget .teamwar-list .upcoming,
.widget .teamwar-list .upcoming {
    color: #fff;
    background-color: #7a4a77;
    letter-spacing: 0
}

@-webkit-keyframes pulse {
    0% {
        background-color: #7a4a77
    }
    50% {
        background-color: #6492ac
    }
    100% {
        background-color: #7a4a77
    }
}

.footer_widget .teamwar-list .playing,
.widget .teamwar-list .playing {
    color: #fff;
    background-color: #6492ac;
    letter-spacing: 0;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out
}

.footer_widget .teamwar-list .date,
.widget .teamwar-list .date {
    font-size: 10px;
    color: #999;
    float: left;
    width: 70%;
    margin-top: 5px
}

.footer_widget.teamwarlist-page .teamwar-list .date,
.widget.teamwarlist-page .teamwar-list .date {
    width: auto;
    margin-left: 10px
}

.footer_widget.teamwarlist-page .teamwar-list .date strong,
.widget.teamwarlist-page .teamwar-list .date strong {
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    font-family: Roboto, Arial;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 3px
}

.widget .teamwar-list .r-opponent-team {
    color: #333
}

.teamwar-list .scores.win,
.wp-teamwars-list .scores.win {
    color: #fff;
    background-color: #567632;
    background-image: -webkit-linear-gradient(bottom, #25ba2f, #28db33)!important;
    background-image: -moz-linear-gradient(bottom, #25ba2f, #28db33)!important;
    background-image: -o-linear-gradient(bottom, #25ba2f, #28db33)!important;
    background-image: linear-gradient(to top, #25ba2f, #28db33)!important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 1px 1px #35f242!important;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 1px 1px #35f242!important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 1px 1px #35f242!important
}

.widget .teamwar-list .scores.draw {
    color: #fff;
    background-color: #c87800
}

.teamwar-list .scores.loose,
.widget .teamwar-list .scores.loose,
.wp-teamwars-list .scores.loose {
    color: #fff;
    background-image: -webkit-linear-gradient(bottom, #9c1a1a, #db2c2c)!important;
    background-image: -moz-linear-gradient(bottom, #9c1a1a, #db2c2c)!important;
    background-image: -o-linear-gradient(bottom, #9c1a1a, #db2c2c)!important;
    background-image: linear-gradient(to top, #9c1a1a, #db2c2c)!important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 1px 1px #f23535!important;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 1px 1px #f23535!important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 1px 1px #f23535!important
}

.widget .teamwar-list li.teamwar-item a:hover {
    border-bottom: 0
}

.results-main-bg {
    padding: 40px;
    background-image: url(../img/stripe.png);
    background-repeat: repeat;
    background-position: left center;
    margin-bottom: 40px
}

.results-main {
    width: 100%;
    height: 70px;
    position: relative
}

.r-home-team,
.r-home-team-score,
.r-opponent-team,
.r-opponent-team-score {
    position: absolute;
    font-family: "Open Sans";
    font-weight: 700
}

.r-home-team {
    left: 30px;
    top: 26px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase
}

.r-opponent-team {
    right: 30px;
    top: 26px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase
}

.r-home-team-score {
    left: 25%
}

.r-opponent-team-score {
    right: 25%
}

.r-home-team-score,
.r-opponent-team-score {
    padding: 9px 15px;
    font-size: 18px;
    color: #fff;
    top: 16px;
    border-radius: 5px
}

.r-home-team-score.victory,
.r-opponent-team-score.victory {
    color: #33f94a
}

.r-home-team.lose,
.r-opponent-team.lose {
    opacity: .5;
    text-decoration: line-through
}

.versus {
    width: 50px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    position: relative;
    top: 26px;
    opacity: .5
}

.match-map.span3 {
    float: left;
    width: 21.4%;
    margin-bottom: 40px
}

.match-map .map-image {
    margin: 0 auto;
    position: relative
}

.match-wrap {
    float: left;
    width: 70%;
    line-height: 26px;
    margin-bottom: 2px
}

.widget.teamwarlist-page .match-wrap {
    width: auto
}
.teamwarlist-page .teamwar-list ul{
	background:transparent;
}
.team1img {
    float: none;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out
}

.match-map .map-image img {
    border-width: 4px;
    border-style: solid;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    width: 147px!important;
    height: auto!important
}

.match-map .map-score {
    font-size: 10px;
    font-weight: 700;
    font-family: "Open Sans";
    width: 25px;
    padding: 5px 10px;
    margin: 10px auto;
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .15);
    text-align: center
}

.map-title {
    position: absolute;
    bottom: 4px;
    width: 147px;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    left: 4px
}

.match-page .match-description {
    padding: 15px 25px 25px
}

.match-page ul.match-props li {
    display: inline-block;
    margin-right: 25px!important
}

.match-page ul.match-props {
    margin-bottom: 15px!important
}

.matchimages * {
    float: left
}

.matchimages {
    margin-right: 10px;
    float: left
}

.matchimages .matchpage-versus {
    margin-top: 16px
}

.matchimages img {
    border-style: solid;
    border-width: 2px;
    margin-right: 5px
}

.matchimages img.team2 {
    margin-left: 5px
}

.nextmatch_widget h3 {
    float: none;
    text-align: center;
    border-radius: 0
}
.footer_widget .nextmatch_widget h3{
	text-align:left;
}
.nextmatch_widget {
    padding: 0
}

.nextmatch_widget .wcontainer {
    padding: 0;
    background: 0 0
}

.nextmatch_wrap {
    padding: 30px 15px 25px;
    background-size:cover;
}
.nextmatch_wrap .error{
	margin:-14px;
}
.carousel-inner .nextmatch_wrap .error{
	    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.carousel-inner .side-widget{
	position:relative;
	z-index:5;
}
.arcane_tournament_carousel_widget .carousel-inner .nextmatch_wrap img{
	width: 85px;
}
.arcane_tournament_carousel_widget .nm-info{
	padding:0px 50px;
}
.nextmatch_wrap img {
    width: 100%;
    border-width: 1px!important;
    border-style: solid!important;
    border-color: #000;
    float: left;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.nextmatch_wrap .team12w {
    float: left;
    width: 48%;
    margin: 0 0 0 4%;
    padding: 5px;
    border: 1px solid #000
}

.nextmatch_wrap .team12w:first-child {
    margin: 0;
}
.carousel-control.right3 {
    right: 0;
    left: auto;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgb(28, 28, 33) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgb(28, 28, 33)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgb(28, 28, 33) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgb(28, 28, 33) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgb(28, 28, 33) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgb(28, 28, 33) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
    background-repeat: repeat-x;
    z-index: 50;
}
.carousel-control.left3 {
    background: -moz-linear-gradient(left, rgb(28, 28, 33) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(28, 28, 33)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgb(28, 28, 33) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgb(28, 28, 33) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgb(28, 28, 33) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgb(28, 28, 33) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
    background-repeat: repeat-x;
    z-index: 50;
}
.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    height: 30px;
    margin-top: 150px;
    font-size: 30px;
    text-shadow: 0 0 10px #00AAFF;
    color: #fff;
    z-index: 50;
}
.nm-teams {
    position: relative;
    margin-top: 20px;
    border: 1px solid #000
}

.nm-teams span {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.nm-teams .versus {
    width: 100%;
    position: absolute;
    text-align: center
}

.nm-teams .r-home-team,
.nm-teams .r-opponent-team {
    position: relative;
    top: auto
}

.nm-teams .r-home-team {
    float: left;
    height: 75px;
    width: 75px;
    left: auto;
    margin-left: 30px
}

footer .nm-teams .r-home-team {
    margin-left: 15px
}

footer .nm-teams .r-opponent-team {
    margin-right: 15px
}

.nm-teams .r-home-team span,
.nm-teams .r-opponent-team span {
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    width: 75px
}

.nm-teams .r-opponent-team {
    float: right;
    height: 75px;
    width: 85px;
    left: auto;
    margin-right: 30px;
    right: auto
}

.nm-date {
    text-align: center;
    margin: 25px 0 0;
    color: #ccc;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 1px 5px black;
}

.nm-date span {
    font-size: 12px;
    text-transform: uppercase;
    display: inline
}