/*Tooltip UI component by www.menucool.com */

/*For tooltip box*/
div#mcTooltip
{
    line-height:16px;
    /border-width: 2px;
  /  color:#333;
   / border-color:#CFB57C;
   padding:22px;
   / font-size: 12px;
  /  font-family: Verdana, Arial;
    border-radius:3px; /*Rounded corners. N/A for IE 8 and below.*/
  /  box-shadow: 0 1px 4px #AAAAAA; /*Drop shadow. N/A for IE 8 and below.*/
}

div#mcTooltip, div.mcTooltipInner
{
  //  background-color:#FBF5E6;
}

/*Close button. Available when sticky or overlay has been set to true, or is on iPhone, iPad, Android, BlackBerry, or IEMobile devices. */
div#mcttCloseButton
{
    width:45px;height:13px;position:absolute;background-image:url(../img/closeBtn.gif);cursor:pointer; overflow:hidden;
    top:12px; right:14px; left:auto;
}

/* Only applies when overlay has been set to true or 1 */
div#mcOverlay
{
    background-color: black;
    opacity:0.5; filter: alpha(opacity=50);
    display:none;top:0;left:0;width:100%;height: 100%;overflow:visible;z-index:4;
}

/*Only available when calling by tooltip.ajax(...). It will be a spinning image indicating a request is in progress.*/
div#tooltipAjaxSpin {margin:20px 50px; background:transparent url(loading.html) no-repeat center center; width:50px; height:30px; font-size:0;}

/*The settings below should remain unchanged*/
div#mcTooltipWrapper {
	position:absolute;
	overflow:visible;
	z-index:9999999999;
	top: -5000px;
	left: -100%;
	width: 350px;
	opacity:0;
}
div#mcTooltipWrapper.login-tooltip{
	left: initial;
	right:5%;
	top: -5000px;
	margin-top: 35px;
}
div#mcTooltipWrapper.login-tooltip #mcttCo{
	right: 10%;
}
div#mcTooltip {float:left;border-style:solid;position:relative;overflow:hidden;}
div.mcTooltipInner {float:left;position:relative;width:auto;height:auto;}
div#mcttCo {
	position:absolute;
	top:-14px;
	right:30%;
	background:url(../img/tip2.png) no-repeat top left;
	width:22px;
	height:17px;
}

/*workable with bootstrap*/
div#mcTooltip, div#mcTooltip div {
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing:content-box;
}

#mcTooltip input[type="text"], #mcTooltip input[type="password"]{
	width:100%;
	border:1px solid #000;
	background:#1a1b1f;
	padding: 10px 5px;
	margin-bottom: 15px;
}

