/*

Custom CSS Fixes for UberMenu Plugin

*/
body .ubermenu .ubermenu-target{
	padding: 13px 20px;
}

body .ubermenu-main{
	background:transparent !important;
	display: block!important;
    margin-top: 0px;
    border: 0px !important;
    box-shadow: none !important;

}
body .ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop, body .ubermenu-main > ul li .ubermenu-tab-content-panel, body .ubermenu-main .ubermenu-item-level-0 > .ubermenu-submenu-drop {
	background-color:#1f1e24 !important;
	border-color: black !important;
}
body .ubermenu .ubermenu-tab-layout-left>.ubermenu-tabs-group{
	border-color:black !important;
}
body nav.ubermenu-main > ul > li > a{
	box-shadow: inset 2px 0 0 #333240 !important;
	border: 0px !important;
	color: #bababe !important;
}
body nav.ubermenu-main > ul > li > a:hover, nav.ubermenu-main .ubermenu-item-level-0:hover > .ubermenu-target, nav.ubermenu-main .ubermenu-item-level-0.ubermenu-active > .ubermenu-target{
	background-color: #1f1e24 !important;
	color: #fff !important;
	text-transform: uppercase;
}

body nav.ubermenu-main > ul > li > a span{
	color: #ddd !important;
	text-transform: uppercase;
	font-size:13px !important;
}
 body nav.ubermenu-main .ubermenu-submenu .ubermenu-target:hover,  body nav.ubermenu-main .ubermenu-submenu .ubermenu-active > .ubermenu-target,
 body nav.ubermenu-main > ul > li > a:hover span,
nav.ubermenu-main .ubermenu-item-level-0:hover span > .ubermenu-target, nav.ubermenu-main .ubermenu-item-level-0.ubermenu-active > .ubermenu-target span{
	color:#fff !important;
}

 body nav.ubermenu-main .ubermenu-submenu .ubermenu-item-header > .ubermenu-target{
	color: #ccc;
    text-transform: uppercase;
    font-family: roboto !important;
    font-size: 14px;
}
 body nav.ubermenu-main .ubermenu-submenu,  body nav.ubermenu-main .ubermenu-submenu .ubermenu-target{
	    color: #ccc;
    font-weight: normal;
    font-size: 12px;
    font-family: arial;
}
 body nav.ubermenu-main .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target {
    border-bottom: 1px solid #333240;
}
body nav.ubermenu-main .ubermenu-submenu .ubermenu-tabs .ubermenu-tab:hover > .ubermenu-target,
body nav.ubermenu-main .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {
    background-color: #2a2a34;
    color: #fff;
}
.ubermenu .widget_bp_core_members_widget h3 {
    display: none;
}
body .ubermenu .ubermenu-grid-row, body .ubermenu .ubermenu-submenu-grid{
    padding-right: 0px;
}

body .ubermenu-responsive-toggle{
	background: #1e1e25 !important;
}
body .ubermenu-responsive-toggle:hover{
	background: #16161b !important;
	color:#fff !important;
}
body .navbar .ubermenu-responsive-default.ubermenu, body .navbar .ubermenu-bar-align-center.ubermenu{
	display:inline-block !important;
	float:none !important;
}
.ubermenu-skin-clean-white .ubermenu-tab > .ubermenu-target, .ubermenu-responsive-default.ubermenu-responsive .ubermenu-tab>.ubermenu-target{
	border-color:#333240 !important;
}
